<h1>Create A New Group!</h1>

<div>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2>Uh oh!  See below for errors!</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @group do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit "Create group" %>
  <% end %>
</div>